body {
  background-color: grey;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 7px;
  width: 5%;
}

h1 {
  color: white;
  text-decoration: underline white;
  text-shadow: -2px -2px black;
}

h3 {
  color: white;
  text-shadow: -2px 2px black;
}

/********************class selector*********************/
.titulo{
  font-style: italic;
}
